doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Admin/Home Page
    link(rel="stylesheet" href="./bootstrap/css/bootstrap.min.css")
    link(rel="stylesheet" href="CSS/bootstrap.css")
  body
    .outerdiv
      .container-fluid
        .row
          .col
            | BBB, is a private company that offers bodabodas,tuktuks,tricycles among others on credit to qualified Ugandans.
          .col dddddddddddddddddddddddddddddd
    footer
      span#foo(style="font-size: small;  ") &copy2020 Login form. All rights reserved|Design by EdithNdagire
