
html 
    head
        title MY APP

    body   
      h3 Personal Information 

        label(for="") FirstName
        input (type="text") (name="firstname") (placeholder="Firstname")
    <br>
    <br/>
        label(for="") MiddleName
        input (type="text") (name="middlename") (placeholder="Middlename")
    <br><br>
        label(for="") LastName
        input (type="text") (name="lastname") (placeholder="Lastname")
        
          
   